header {
    background-color: #392d12;
    min-height: 100px;
    align-content: center;
}

header:hover {
    background-color: #444;
}

header a {
    position: center;
    text-align: center;
    width: min-content;
    margin: 10px;
    color: #dddddd;
}

body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(90deg, #010066, #006498, #00cccb);
    color: linen;
    height: border-box 100%;
    font-family: "Comic Sans MS", serif;
}

.body {
    align-content: center;
    border-radius: 5px;
    border: 2px solid #333;
    background: #26201d;
}

.div {
    align-content: center;
    border-radius: 5px;
    border: 2px solid #333;
    background: black;
    color: black;
    display: inline-flex;
}

.block {
    cursor: pointer;
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(#919187, #ddd, #eee);
    margin: 10px;
    color: #010066;
    display: inline-flex;
}

.block:hover {
    background: linear-gradient(#eeebeb, #eee, #fff);
}

.icon {
    border-radius: 10px;
    background-color: white;
    width: 200px;
    height: 200px;
    align-self: center;
}

.shadow {
    margin: 5px;
    box-shadow: 2px 2px 2px 2px #444444;
}

footer {
    background-color: #392d12;
    min-height: 100px;
    align-content: center;
}

footer h3 {
    position: center;
    text-align: center;
    margin: 10px;
    color: #eeeeee;
}

footer a {
    position: center;
    text-align: center;
    margin: 10px;
    color: #eeeeee;
}